
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation for Quote Request #@ViewBag.id</h2>

<h4>Thank you for working with Northwest Labs, @ViewBag.cust.CustomerName.  Your Quote Request has been recieved and one of our Client Relations Specialists will review your request and provide a more accurate quote in the next couple of days.  In the meantime, an email with details about your request has been sent to @ViewBag.cust.ContactInfo.Email</h4>