
@{
    ViewBag.Title = "CustomerAccount";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li class="active">Edit Account</li>
</ul>

<h2>This view allows the customer to edit their account information, including payment and contact information.</h2>

