
@{
    ViewBag.Title = "CustomerBilling";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li class="active">Invoices</li>
</ul>
<h2>This view allows the customer to see all invoices not paid in full.</h2>

