@model IEnumerable<INTEX.Models.WorkOrder>

@{
    ViewBag.Title = "WorkOrderStatus";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li class="active">Work Order Status</li>
</ul>

<h2>Testing Status Report</h2>

@foreach (var item in Model)
{
    <div class="jumbotron">
        <h4>
            Work Order #@item.WorkOrderID
        </h4>
        <br /><br />
        @foreach (var s in item.Sample)
        {
            @:Testing Compound @s.Compound.CompoundName
            @:with Assay @s.Assay.AssayName
            @:<table class="table">
                foreach (var t in s.TestTube)
                {
                    @:<tr>
                        @:<td>
                            @:@t.Test.TestDescription Test Status: @t.TestStatus
                        @:</td>
                    @:</tr>
                }
            @:</table>
        }
    </div>
}

