
@{
    ViewBag.Title = "PriceWorkOrder";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li><a href=@Url.Action("WONeedingPricing")>Work Orders to Price</a></li>
    <li class="active">Price Work Order</li>
</ul>

<h2>This view will allow an employee to assign a price to each test on a work order.</h2>

