
@{
    ViewBag.Title = "ReportWorkOrder";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li><a href=@Url.Action("WONeedingReports")>Work Orders to Report</a></li>
    <li class="active">Report Work Order</li>
</ul>

<h2>This view will allow the employee to download all of the qualitative and quantitative reports from the work order and then upload a Data Report and Summary Report</h2>

