
@{
    ViewBag.Title = "ViewReports";
}

<ul class="breadcrumb">
    <li><a href=@Url.Action("Index")>Home</a></li>
    <li class="active">Company Reports</li>
</ul>

<h2>This view will allow an employee to view the company's profitability and performance reports.</h2>

