@model INTEX.Models.EmployeeCredentials

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Northwest Labs Singapore Portal!</h2>

<div>
    <div class="breadcrumb">
        <a href=@Url.Action("WorkOrderIndex")>Work Orders </a> / 
    </div>
</div>


