@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h4>About Us</h4>
    <p>Northwest labs headquarters is located in Seattle Washington, but is an international company that provides business to customers all around the world. We started business in 1990 and have enjoyed steady growth up until know where we do business with thousand of customers around the globe.</p>
</div>

<div>
    <h4>Our Aim</h4>
    <p>Integrity and fairness are our main aims when doing business with our clients. We provide top of the line assay analysis services services which is a set of physical, chemical, atomic, and biological tests that are conducted on a chemical compound or drug to determine its characteristics.</p>
    <p><a href=@Url.Action("Catalog", "Home") class="btn btn-primary btn-lg">Check out our catalog &raquo;</a></p>
</div>
