@model IEnumberable<INTEX.Models.Assay>

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catalog</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayDetails)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssayDetails)
            </td>
        </tr>
    }

</table>

