@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<div class="jumbotron col-md-12">
    <h1>Northwest Labs</h1>
    <br />
    <div class="col-md-8">
        <p class="lead">Northwest Labs is one of the leading organizations in pharmaceutical research and testing. Many large organizations use our advanced chemical compound testing methods to get their products approved and into market!</p>
        <!--Link to a reviews page. Could be reviews drawn from a database or a simple link to a yelp page-->
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">See what others have said about us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="HeaderImg" style="width:350px; height:auto;" src="~/Content/Images/TestTubes.jpeg" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>