@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<div class="jumbotron col-md-12">
    <h1>Northwest Labs</h1>
    <br />
    <div class="col-md-8">
        <p class="lead">Northwest Labs is one of the leading organizations in pharmaceutical research and testing. Many large organizations use our advanced chemical compound testing methods to get their products approved and into market!</p>
        <!--Link to a reviews page. Could be reviews drawn from a database or a simple link to a yelp page-->
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">See what others have said about us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="HeaderImg" style="width:350px; height:auto;" src="~/Content/Images/TestTubes.jpeg" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pharmacology Catalog</h2>
        <p>
            Learn more about our Pharmacology catalog!
        </p>
        <p><a class="btn btn-secondary btn-lg" href=@Url.Action("PharmacologyCatalog")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Protocol Notebook</h2>
        <p>
            Learn more about our Protocol notebook!
        </p>
        <p><a class="btn btn-secondary btn-lg" href=@Url.Action("ProtocolCatalog")>Learn more &raquo;</a></p>
    </div>
</div>