@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<div class="jumbotron col-md-12 jumbotron-bkgrdImg">
    <h1>Northwest Labs</h1>
    <br />
    <div class="col-md-8">
        <p class="lead">Northwest Labs is one of the leading organizations in pharmaceutical research and testing. Many large organizations use our advanced chemical compound testing methods to get their products approved and into market!</p>
        <!--Link to a review of "northwest labs" (not. Could be reviews drawn from a database or a simple link to a yelp page-->
        <p><a href="https://www.google.com/search?rlz=1C1CHBF_enUS777US777&ei=lakJXLjRH-iMjwS2j7GYCg&q=northwest+laboratory+seattle&oq=northwest+laboratory+seattle&gs_l=psy-ab.3..0i22i30l5.4624.6268..6372...0.0..0.400.1437.0j3j1j1j1......0....1..gws-wiz.......0j0i71j0i13j0i13i30.BglBp9W11cw#lrd=0x549041843459334b:0x9f1dfbfba6499f82,1,,," class="btn btn-primary btn-lg">See what others have said about us &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <img class="HeaderImg" style="width:350px; height:auto;" src="~/Content/Images/TestTubes.jpeg" />
    </div>**@
</div>

<br /><br /><br /><br /><br />

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <img align="right" src="~/Content/Images/chemistry.png" width="50%" alt="Card image cap">
                <h3 class="card-title">Protocol Notebook</h3>
                <p class="card-text">See a list of available tests</p>
                <a href=@Url.Action("ProtocolCatalog") class="btn btn-primary">View List</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <img align="right" src="~/Content/Images/atoms.png" width="50%" alt="Card image cap">
                <h3 class="card-title">Pharmacology Catalog</h3>
                <p class="card-text">See a list of our previously tested compounds</p>
                <a href=@Url.Action("PharmacologyCatalog") class="btn btn-primary">View Catalog</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <img align="right" src="~/Content/Images/invoice.png" width="50%" alt="Card image cap">
                <h3 class="card-title">Request Quote</h3>
                <p class="card-text">Interested in doing business with us?</p>
                <a href=@Url.Action("PharmacologyCatalog") class="btn btn-primary">Request Your Quote</a>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-6">
        <h2>Pharmacology Catalog</h2>
        <p>
            Learn more about our Pharmacology catalog!
        </p>
        <p><a class="btn btn-secondary btn-lg" href=@Url.Action("PharmacologyCatalog")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Protocol Notebook</h2>
        <p>
            Learn more about our Protocol notebook!
        </p>
        <p><a class="btn btn-secondary btn-lg" href=@Url.Action("ProtocolCatalog")>Learn more &raquo;</a></p>
    </div>
</div>*@